@font-face {
  font-family: 'cm';
  src: url('../assets/computer-modern/cmunrm.ttf');
}

#mirror {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#mirror>* {
  height: 70vh;
  overflow: scroll;
  font-family: 'cm', 'Courier New', Courier, monospace;
}

#html-renderer {
  display: flex;
  justify-content: center;
}

.page {
  background-image: url('../assets/paper2.png');
  background-repeat: repeat;
  margin: 10px 30px;
  width: 21cm;
  height: 29.7cm;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  ;
}

#options_bar {
  background-color: #7FC8F8;
  padding: 10px;
}

#options_bar button {
  padding: 10px;
  background-color: #FF6392;
  border: 1px solid black;
  border-radius: 10px;
}

#options_bar button:hover {
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 500px) {
  #editor {
    height: 800px;
  }

  #mirror {
    grid-template-columns: 1fr;
  }
}
