body {
  margin: 0;
}

#mirror {
  display: flex;
  width: 100%;
  height: 80vh;
}

#html_renderer {
  width: 50%;
  outline: 1px solid rgb(64, 175, 202);
  margin-left: 10px;
}

#codemirror {
  width: 50%;
  height: 80vh;
  height: inherit;
}
